<% layout("/layout/boilerplate") %>
<body>
    <h3>All listings</h3>
    <div class="row row-cols-md-4 row-cols-sm-1">
        <% for (let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card" style="width: 17.5rem">
                    <img src="<%= listing.image.url %>" 
                         class="card-img-top" 
                         alt="listing_image" 
                         style="height: 20rem"/>
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %> </b> <br/>
                            &#8377; 
                            <% if (typeof listing.price === 'number') { %>
                                <%= listing.price.toLocaleString("en-IN") %>
                            <% } else { %>
                                Price not available
                            <% } %> 
                            /night
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
