<% layout("/layout/boilerplate") %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <p class="alert-heading" ><% message %></p>
        A simple danger alert—check it out!
      </div>
</div>
